<section>
  <div class="content-wrapper text-light">
    <div id="modal-holder"></div>
      <div class="container">
        <%= render 'layouts/partials/messages' %>
      </div>
    <%= yield %>
  </div>
</section>
